/* 采用什么编码解析文件 */
@charset "utf-8";

/* ----------横幅 begin--------------- */
.banner {
    width: 1000px;
    height: 250px;
    background: url(../img/7.jpeg) no-repeat;
    margin: 80px;
    opacity: 0.8;
    box-shadow: 10px 15px 15px 1px;
}

/* ----------横幅 end------------------------ */